@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary1: #1e90ff; /* High order action */
  --primary2: #64b5f6; /* Lower order action */
  --secondary1: #e53935; /* High order reversal */
  --secondary2: #ffa726; /* Lower order reversal/support */
  --neutral: #0e0e0e;
  --neutral1: #222222;
  --neutral2: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#filter-form * {
  color: white !important;
}

#filter-form fieldset {
  border-color: white;
}

#menu-appbar .MuiPaper-root {
  background-color: var(--neutral);
  border-radius: 1rem;
}

.cl-userProfile-root {
  margin: auto;
  padding-top: 2rem;
}
