@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary1: #007bff;
  --primary2: #00d1ff;
  --secondary1: #ff6b35;
  --secondary2: #9c88ff;
  --neutral1: #222222;
  --neutral2: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#filter-form * {
  color: white !important;
}

#filter-form fieldset {
  border-color: white;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: var(--neutral1);
}
